FORMAT: 1A
HOST: https://api.sample.com.br/v1

# VUTTR (Very Useful Tools To Remember)
# Group API
## Sobre
API desenvolvida para desafio do BossaBox.
Os usuários podem ser criados e excluídos, as ferramentas podem ser criadas, excluídas, 
alteradas e pode ser feita uma busca por tags, além de ser possível listar todas. Após se criar o usuário 
crie uma sessão com os dados cadastrais e efetue o login obtendo assim o token de autenticação. Esse token é 
obrigatório em todas as etapas exceto na criação de um usuário e na criação da sessão.

# Group Usuários

## Usuários [/users]
### Cadastrar usuário [POST]

+ Request Criar um usuário

    + Headers

            Accept: application/json
            Content-Type: application/json

    + Attributes (User)

+ Response 201 (application/json)

    + Attributes (CreatedUser)



## Usuários [/users/{id}]

+ Parameters
    + id: as458as (string, required) - ID do usuário

### Deletar um usuário [DELETE]

+ Request

    + Headers
            
            Authorization: Bearer token

+ Response 204

# Group Sessão

## Sessão [/sessions]

### Criar uma nova sessão [POST]

+ Request Criar uma nova sessão
    + Headers

            Accept: application/json
            Content-Type: application/json

    + Attributes (Session)
    
+ Response 200 (application/json)

    + Attributes (Created Session)

# Group Ferramentas

## Ferramentas [/tools]

### Criar uma nova ferramenta [POST]

+ Request Criar uma nova ferramenta
        
    + Headers
    
            Aceppt: application/json
            Content-Type: application/json
            Authorization: Bearer token     
        
    + Attributes (Tool)

+ Response 200 (application/json)
    + Attributes (Created Tool)

### Listar todas as ferramentas [GET]

+ Request
        
    + Headers
    
            Authorization: Bearer *token*        
        
 
+ Response 200 (application/json)
    + Attributes (array[Created Tool])

## Ferramentas [/tools?tag={filtro}]

+ Parameters
    + filtro: node (string,required) - Tag da ferramenta

### Filtar tools por tag [GET]

+ Request
        
    + Headers
    
            Authorization: Bearer token      
        
 
+ Response 200 (application/json)

    + Attributes (array[Created Tool])

## Ferramentas [/tools/{id}]

+ Parameters
    + id: as458as (string, required) - ID da ferramenta

### Atualiza informações da Tool [PUT]

+ Request

        
    + Headers
    
            Authorization: Bearer token         
    + Attributes (Tool)
        
 
+ Response 200 (application/json)

    + Attributes (Created Tool)

### Deleta uma Tool [DELETE]

+ Request

    + Headers
    
            Authorization: Bearer token

+ Response 204

# Data Structures

## User (object)
+ name (string) - Nome do usuário
+ email (string) - Email do usuário
+ password (string) - Senha do usuário

## CreatedUser (User)
+ id (string) - ID do usuário
+ created_at (string) - Data de criação do usuário
+ updated_at (string) - Data de atualização do usuário

## Error (object)
+ code: 400 (number) - Status code
+ message (string) - Mensagem do status
+ description (string) - Descrição do status

## Session (object)
+ email (string) - Email do usuário
+ password (string) - Senha do usuário

## Created Session (Session)
+ id (string) - ID do usuário
+ created_at (string) - Data de criação do usuário
+ updated_at (string) - Data de atualização do usuário
+ token (string) - Token JWT de autenticação

## Tool (object)
+ title (string) - Título da ferramenta
+ link (string) - Link da ferramenta
+ description (string) - Descrição da ferramenta
+ tags (array[string]) - Tags das ferramentas

## Created Tool (Tool)
+ id (string) - ID da ferramenta